### To Create the CATALOG

In [0]:
%sql
CREATE CATALOG IF NOT EXISTS datalink

### To Create the SCHEMA

In [0]:
%sql
CREATE SCHEMA lineagedemo

### Customer Table

In [0]:
%sql
CREATE TABLE datalink.lineagedemo.customer (
  customer_id STRING,
  customer_name STRING,
  phone_number STRING,
  email STRING
);

INSERT INTO  datalink.lineagedemo.customer VALUES
  ('C001', 'Badr Hassan', '0501234567', 'badr.hassan@email.com'),
  ('C002', 'Faisal Ali', '0502345678', 'faisal.ali@email.com'),
  ('C003', 'Sara Nasser', '0503456789', 'sara.nasser@email.com');

### Service Center Info Table

In [0]:
%sql
CREATE TABLE  datalink.lineagedemo.service_center_info (
  center_id STRING,
  center_name STRING,
  location STRING
);

INSERT INTO datalink.lineagedemo.service_center_info VALUES
  ('SC001', 'City Road Center', 'Jeddah - City Road'),
  ('SC002', 'Airport Center', 'Riyadh - Airport Road'),
  ('SC003', 'Downtown Center', 'Dammam - Downtown');

### Vehicle Info Table

In [0]:
%sql
CREATE TABLE datalink.lineagedemo.vehicle_info (
  vehicle_id STRING,
  customer_id STRING,
  model STRING,
  plate_number STRING,
  year INT
);

INSERT INTO datalink.lineagedemo.vehicle_info VALUES
  ('V001', 'C001', 'Camry', 'BKM6808', 2025),
  ('V002', 'C002', 'Corolla', 'XYZ1234', 2023),
  ('V003', 'C003', 'Rav4', 'LMN9876', 2022);

### Service Type Table

In [0]:
%sql
CREATE TABLE datalink.lineagedemo.service_type (
  service_type_id STRING,
  service_name STRING,
  description STRING
);

INSERT INTO datalink.lineagedemo.service_type VALUES
  ('S001', 'Periodic Maintenance', 'Routine maintenance at mileage intervals'),
  ('S002', 'Engine Diagnostics', 'Check engine and performance issues'),
  ('S003', 'AC Repair', 'Air conditioning service and repair');

### Appointment Slots Table

In [0]:
%sql
CREATE TABLE IF NOT EXISTS datalink.lineagedemo.appointment_slots (
  slot_id STRING,
  center_id STRING,
  slot_datetime TIMESTAMP,
  is_available BOOLEAN
);

INSERT INTO datalink.lineagedemo.appointment_slots (slot_id, center_id, slot_datetime, is_available)
VALUES
-- May 22, 2025
('SL031', 'SC001', '2025-05-22 09:00:00.000000-00:00', true),
('SL032', 'SC001', '2025-05-22 11:00:00.000000-00:00', true),
('SL033', 'SC001', '2025-05-22 13:00:00.000000-00:00', true),
('SL034', 'SC001', '2025-05-22 15:00:00.000000-00:00', true),
('SL035', 'SC001', '2025-05-22 17:00:00.000000-00:00', true),
('SL036', 'SC002', '2025-05-22 09:00:00.000000-00:00', true),
('SL037', 'SC002', '2025-05-22 11:00:00.000000-00:00', true),
('SL038', 'SC002', '2025-05-22 13:00:00.000000-00:00', true),
('SL039', 'SC002', '2025-05-22 15:00:00.000000-00:00', true),
('SL040', 'SC002', '2025-05-22 17:00:00.000000-00:00', true),
('SL041', 'SC003', '2025-05-22 09:00:00.000000-00:00', true),
('SL042', 'SC003', '2025-05-22 11:00:00.000000-00:00', true),
('SL043', 'SC003', '2025-05-22 13:00:00.000000-00:00', true),
('SL044', 'SC003', '2025-05-22 15:00:00.000000-00:00', true),
('SL045', 'SC003', '2025-05-22 17:00:00.000000-00:00', true),
-- May 23, 2025
('SL046', 'SC001', '2025-05-23 09:00:00.000000-00:00', true),
('SL047', 'SC001', '2025-05-23 11:00:00.000000-00:00', true),
('SL048', 'SC001', '2025-05-23 13:00:00.000000-00:00', true),
('SL049', 'SC001', '2025-05-23 15:00:00.000000-00:00', true),
('SL050', 'SC001', '2025-05-23 17:00:00.000000-00:00', true),
('SL051', 'SC002', '2025-05-23 09:00:00.000000-00:00', true),
('SL052', 'SC002', '2025-05-23 11:00:00.000000-00:00', true),
('SL053', 'SC002', '2025-05-23 13:00:00.000000-00:00', true),
('SL054', 'SC002', '2025-05-23 15:00:00.000000-00:00', true),
('SL055', 'SC002', '2025-05-23 17:00:00.000000-00:00', true),
('SL056', 'SC003', '2025-05-23 09:00:00.000000-00:00', true),
('SL057', 'SC003', '2025-05-23 11:00:00.000000-00:00', true),
('SL058', 'SC003', '2025-05-23 13:00:00.000000-00:00', true),
('SL059', 'SC003', '2025-05-23 15:00:00.000000-00:00', true),
('SL060', 'SC003', '2025-05-23 17:00:00.000000-00:00', true),
-- May 24, 2025
('SL061', 'SC001', '2025-05-24 09:00:00.000000-00:00', true),
('SL062', 'SC001', '2025-05-24 11:00:00.000000-00:00', true),
('SL063', 'SC001', '2025-05-24 13:00:00.000000-00:00', true),
('SL064', 'SC001', '2025-05-24 15:00:00.000000-00:00', true),
('SL065', 'SC001', '2025-05-24 17:00:00.000000-00:00', true),
('SL066', 'SC002', '2025-05-24 09:00:00.000000-00:00', true),
('SL067', 'SC002', '2025-05-24 11:00:00.000000-00:00', true),
('SL068', 'SC002', '2025-05-24 13:00:00.000000-00:00', true),
('SL069', 'SC002', '2025-05-24 15:00:00.000000-00:00', true),
('SL070', 'SC002', '2025-05-24 17:00:00.000000-00:00', true),
('SL071', 'SC003', '2025-05-24 09:00:00.000000-00:00', true),
('SL072', 'SC003', '2025-05-24 11:00:00.000000-00:00', true),
('SL073', 'SC003', '2025-05-24 13:00:00.000000-00:00', true),
('SL074', 'SC003', '2025-05-24 15:00:00.000000-00:00', true),
('SL075', 'SC003', '2025-05-24 17:00:00.000000-00:00', true),
-- May 25, 2025
('SL076', 'SC001', '2025-05-25 09:00:00.000000-00:00', true),
('SL077', 'SC001', '2025-05-25 11:00:00.000000-00:00', true),
('SL078', 'SC001', '2025-05-25 13:00:00.000000-00:00', true),
('SL079', 'SC001', '2025-05-25 15:00:00.000000-00:00', true),
('SL080', 'SC001', '2025-05-25 17:00:00.000000-00:00', true),
('SL081', 'SC002', '2025-05-25 09:00:00.000000-00:00', true),
('SL082', 'SC002', '2025-05-25 11:00:00.000000-00:00', true),
('SL083', 'SC002', '2025-05-25 13:00:00.000000-00:00', true),
('SL084', 'SC002', '2025-05-25 15:00:00.000000-00:00', true),
('SL085', 'SC002', '2025-05-25 17:00:00.000000-00:00', true),
('SL086', 'SC003', '2025-05-25 09:00:00.000000-00:00', true),
('SL087', 'SC003', '2025-05-25 11:00:00.000000-00:00', true),
('SL088', 'SC003', '2025-05-25 13:00:00.000000-00:00', true),
('SL089', 'SC003', '2025-05-25 15:00:00.000000-00:00', true),
('SL090', 'SC003', '2025-05-25 17:00:00.000000-00:00', true),
-- May 26, 2025
('SL091', 'SC001', '2025-05-26 09:00:00.000000-00:00', true),
('SL092', 'SC001', '2025-05-26 11:00:00.000000-00:00', true),
('SL093', 'SC001', '2025-05-26 13:00:00.000000-00:00', true),
('SL094', 'SC001', '2025-05-26 15:00:00.000000-00:00', true),
('SL095', 'SC001', '2025-05-26 17:00:00.000000-00:00', true),
('SL096', 'SC002', '2025-05-26 09:00:00.000000-00:00', true),
('SL097', 'SC002', '2025-05-26 11:00:00.000000-00:00', true),
('SL098', 'SC002', '2025-05-26 13:00:00.000000-00:00', true),
('SL099', 'SC002', '2025-05-26 15:00:00.000000-00:00', true),
('SL100', 'SC002', '2025-05-26 17:00:00.000000-00:00', true),
('SL101', 'SC003', '2025-05-26 09:00:00.000000-00:00', true),
('SL102', 'SC003', '2025-05-26 11:00:00.000000-00:00', true),
('SL103', 'SC003', '2025-05-26 13:00:00.000000-00:00', true),
('SL104', 'SC003', '2025-05-26 15:00:00.000000-00:00', true),
('SL105', 'SC003', '2025-05-26 17:00:00.000000-00:00', true),
-- May 27, 2025
('SL106', 'SC001', '2025-05-27 09:00:00.000000-00:00', true),
('SL107', 'SC001', '2025-05-27 11:00:00.000000-00:00', true),
('SL108', 'SC001', '2025-05-27 13:00:00.000000-00:00', true),
('SL109', 'SC001', '2025-05-27 15:00:00.000000-00:00', true),
('SL110', 'SC001', '2025-05-27 17:00:00.000000-00:00', true),
('SL111', 'SC002', '2025-05-27 09:00:00.000000-00:00', true),
('SL112', 'SC002', '2025-05-27 11:00:00.000000-00:00', true),
('SL113', 'SC002', '2025-05-27 13:00:00.000000-00:00', true),
('SL114', 'SC002', '2025-05-27 15:00:00.000000-00:00', true),
('SL115', 'SC002', '2025-05-27 17:00:00.000000-00:00', true),
('SL116', 'SC003', '2025-05-27 09:00:00.000000-00:00', true),
('SL117', 'SC003', '2025-05-27 11:00:00.000000-00:00', true),
('SL118', 'SC003', '2025-05-27 13:00:00.000000-00:00', true),
('SL119', 'SC003', '2025-05-27 15:00:00.000000-00:00', true),
('SL120', 'SC003', '2025-05-27 17:00:00.000000-00:00', true),
-- May 28, 2025
('SL121', 'SC001', '2025-05-28 09:00:00.000000-00:00', true),
('SL122', 'SC001', '2025-05-28 11:00:00.000000-00:00', true),
('SL123', 'SC001', '2025-05-28 13:00:00.000000-00:00', true),
('SL124', 'SC001', '2025-05-28 15:00:00.000000-00:00', true),
('SL125', 'SC001', '2025-05-28 17:00:00.000000-00:00', true),
('SL126', 'SC002', '2025-05-28 09:00:00.000000-00:00', true),
('SL127', 'SC002', '2025-05-28 11:00:00.000000-00:00', true),
('SL128', 'SC002', '2025-05-28 13:00:00.000000-00:00', true),
('SL129', 'SC002', '2025-05-28 15:00:00.000000-00:00', true),
('SL130', 'SC002', '2025-05-28 17:00:00.000000-00:00', true),
('SL131', 'SC003', '2025-05-28 09:00:00.000000-00:00', true),
('SL132', 'SC003', '2025-05-28 11:00:00.000000-00:00', true),
('SL133', 'SC003', '2025-05-28 13:00:00.000000-00:00', true),
('SL134', 'SC003', '2025-05-28 15:00:00.000000-00:00', true),
('SL135', 'SC003', '2025-05-28 17:00:00.000000-00:00', true),
-- May 29, 2025
('SL136', 'SC001', '2025-05-29 09:00:00.000000-00:00', true),
('SL137', 'SC001', '2025-05-29 11:00:00.000000-00:00', true),
('SL138', 'SC001', '2025-05-29 13:00:00.000000-00:00', true),
('SL139', 'SC001', '2025-05-29 15:00:00.000000-00:00', true),
('SL140', 'SC001', '2025-05-29 17:00:00.000000-00:00', true),
('SL141', 'SC002', '2025-05-29 09:00:00.000000-00:00', true),
('SL142', 'SC002', '2025-05-29 11:00:00.000000-00:00', true),
('SL143', 'SC002', '2025-05-29 13:00:00.000000-00:00', true),
('SL144', 'SC002', '2025-05-29 15:00:00.000000-00:00', true),
('SL145', 'SC002', '2025-05-29 17:00:00.000000-00:00', true),
('SL146', 'SC003', '2025-05-29 09:00:00.000000-00:00', true),
('SL147', 'SC003', '2025-05-29 11:00:00.000000-00:00', true),
('SL148', 'SC003', '2025-05-29 13:00:00.000000-00:00', true),
('SL149', 'SC003', '2025-05-29 15:00:00.000000-00:00', true),
('SL150', 'SC003', '2025-05-29 17:00:00.000000-00:00', true),
-- May 30, 2025
('SL151', 'SC001', '2025-05-30 09:00:00.000000-00:00', true),
('SL152', 'SC001', '2025-05-30 11:00:00.000000-00:00', true),
('SL153', 'SC001', '2025-05-30 13:00:00.000000-00:00', true),
('SL154', 'SC001', '2025-05-30 15:00:00.000000-00:00', true),
('SL155', 'SC001', '2025-05-30 17:00:00.000000-00:00', true),
('SL156', 'SC002', '2025-05-30 09:00:00.000000-00:00', true),
('SL157', 'SC002', '2025-05-30 11:00:00.000000-00:00', true),
('SL158', 'SC002', '2025-05-30 13:00:00.000000-00:00', true),
('SL159', 'SC002', '2025-05-30 15:00:00.000000-00:00', true),
('SL160', 'SC002', '2025-05-30 17:00:00.000000-00:00', true),
('SL161', 'SC003', '2025-05-30 09:00:00.000000-00:00', true),
('SL162', 'SC003', '2025-05-30 11:00:00.000000-00:00', true),
('SL163', 'SC003', '2025-05-30 13:00:00.000000-00:00', true),
('SL164', 'SC003', '2025-05-30 15:00:00.000000-00:00', true),
('SL165', 'SC003', '2025-05-30 17:00:00.000000-00:00', true);

### Booking Status Info Table

In [0]:
%sql
CREATE TABLE IF NOT EXISTS datalink.lineagedemo.booking_status_info (
  booking_id STRING,
  customer_id STRING,
  vehicle_id STRING,
  center_id STRING,
  slot_id STRING,
  service_type_id STRING,
  status STRING
);

INSERT INTO datalink.lineagedemo.booking_status_info VALUES
  ('B001', 'C001', 'V001', 'SC001', 'SL003', 'S001', 'Confirmed'),
  ('B002', 'C002', 'V002', 'SC002', 'SL004', 'S002', 'Pending'),
  ('B003', 'C003', 'V003', 'SC003', 'SL005', 'S003', 'Confirmed');